.playtext{
    position: relative;
}
.playtext::after{
    content: "Developer";
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    animation-name: play;
    animation-duration: 3s;
    animation-iteration-count: infinite;background-color: aqua;
}
@keyframes play {
    0% {width: 0px;}
    50% {width: 60px;}
    100% {width: 0px;}
}